.requests-box {
    align-content: center;

    @include box('&__count, &__icon', '&__title');

    &:hover {
        border-color: $color-red-BA;
        background-color: white;
        .requests-box__point {
            display: none;
        }
        .requests-box__count {
            transform: translateX(100px);
            opacity: 0;
        }
        .requests-box__icon {
            transform: translateX(0);
            opacity: 1;
        }
        .requests-box__title {
            color: $color-red-BA;
        }
    }
    &__count,
    &__icon {
        transition: all .3s ease;
    }

    &__title {
        transform: translateX(0);
    }

    &__icon {
        transform: translateX(-100px);
        opacity: 0;
        font-size: 5rem;
    }
} 

.requests-box-active {
    background-color: $color-red-BA;
    border-color: $color-red-BA;

    .requests-box {
        &__title,
        &__count {
            color: white;
        }
        &__point {
            background-color: $color-red-BA;
            border-color: $color-red-BA;
        }
    }
}

.requests-box-inactive {
    border-color: $color-gray-E6;

    .requests-box {
        &__title,
        &__count {
            color: $color-gray-4D;
        }
        &__point {
            display: none;
        }
    }
}