.requests-box {
    align-content: center;

    @include box;

    &__count {
        align-self: end;
        font-size: 7rem;
        line-height: 8.1rem;
        margin-bottom: 1rem;

        grid-row: s/m;
        grid-column: s/e;
    }

    &__title {
        align-self: start;
        font-size: 2rem;
        line-height: 2.3rem;

        grid-row: m/e;
        grid-column: s/e;
    }

    &__point {
        @include box-point;
    }
} 

.requests-box-active {
    background-color: $color-red-BA;
    border-color: $color-red-BA;

    .requests-box {
        &__title,
        &__count {
            color: white;
        }
        &__point {
            background-color: $color-red-BA;
            border-color: $color-red-BA;
        }
    }
}

.requests-box-inactive {
    border-color: $color-gray-E6;

    .requests-box {
        &__title,
        &__count {
            color: $color-gray-4D;
        }
        &__point {
            display: none;
        }
    }
}