.requests-box {
    align-content: center;

    @include box;

    &:hover {
        border-color: $color-red-BA;
        background-color: white;
        .requests-box__point {
            display: none;
        }
        .requests-box__count {
            transform: translateX(100px);
            opacity: 0;
        }
        .requests-box__icon {
            transform: translateX(0);
            opacity: 1;
        }
        .requests-box__title {
            color: $color-red-BA;
        }
    }

    &__count,
    &__icon {
        transition: all .3s ease;
        align-self: end;
        font-size: 7rem;
        line-height: 8.1rem;
        margin-bottom: 1rem;

        grid-row: s/m;
        grid-column: s/e;
    }

    &__title {
        align-self: start;
        font-size: 2rem;
        line-height: 2.3rem;

        grid-row: m/e;
        grid-column: s/e;

        transform: translateX(0);
    }

    &__icon {
        transform: translateX(-100px);
        opacity: 0;
        font-size: 5rem;
    }

    &__point {
        @include box-point;
    }
} 

.requests-box-active {
    background-color: $color-red-BA;
    border-color: $color-red-BA;

    .requests-box {
        &__title,
        &__count {
            color: white;
        }
        &__point {
            background-color: $color-red-BA;
            border-color: $color-red-BA;
        }
    }
}

.requests-box-inactive {
    border-color: $color-gray-E6;

    .requests-box {
        &__title,
        &__count {
            color: $color-gray-4D;
        }
        &__point {
            display: none;
        }
    }
}